.swiper {
  position: static !important;
}
.swiper-pagination {
  width: auto !important;
  display: flex !important;
  right: 0 !important;
  left: auto !important;
  top: 100% !important;
}

.swiper-pagination-bullet {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  width: 30px !important;
  height: 30px !important;
  text-align: center;
  font-size: 12px;
  color: #fff;
  opacity: 1 !important;
  background: transparent !important;
  @apply !border !border-white;
}

.swiper-pagination-bullet-active {
  color: #fff;
  @apply border !border-primary !bg-primary;
}
